{% extends "@User/layout.html.twig" %}
{% block title %}{{ parent() }}Changer le mot de passe{% endblock %}
{% block body %}

    {% if form is defined %}
        <div class="well col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <form method="post" method="POST" action="{{ path('user_password_change') }}">
                <legend><span class="fa fa-key"></span> Changer le mot de passe</legend>
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <!-- <input type="submit" class="btn btn-primary" /> -->
                {% if error_message is not null %}
                    <p class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error_message }}</p>
                {% endif %}
                <button type="submit" class="btn btn-primary pull-right">Valider <span
                            class="glyphicon glyphicon-floppy-disk"></span></button>
            </form>
        </div>
    {% else %}
        <div class="jumbotron">
            <h3 class="text-center"><span class="fa fa-key"></span> Changer le mot de passe</h3>
            <p class="text-muted"><span class="fa fa-info-circle"></span>  Votre mot de passe a été changé avec succès
                <br>Vous pourrez l'utiliser pour vous connecter à votre compte Bomoko</p>
        </div>
    {% endif %}



{% endblock %}
