{% extends "@User/layout.html.twig" %}
{% block title %}{{ parent() }}{{ pub.titre }} {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            {% for message in app.session.flashbag.get('pub_new_message') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
            <div class=thumbnail>
                <div class="caption"><h3>{{ pub.titre }}</h3></div>


                <div id="carousel" class="carousel slide thumbnail">

                    <ol class="carousel-indicators">
                        {% for i in range(0, pub.files|length - 1) %}
                            <li data-target="#carousel" data-slide-to="{{ i }}"
                                {% if i==0 %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for file in pub.files %}
                            <div class="item  {% if loop.first %}active{% endif %}">
                                <div class="carousel-content">
                                    <img alt="" src="{{ asset('files/pub/images/' ~ file.path) }}" class="img-responsive"
                                         data-src="holder.js/200x200/auto/sky">
                                    <h1 class="carousel-caption"></h1>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="icon-prev"></span></a>
                    <a class="right carousel-control" href="#carousel" data-slide="next"><span class="icon-next"></span></a>
                </div>


                <div class="caption">

                    <p class="text-center">
                        <a href="{{ path('pub_like', {'page':0, 'pub':pub.id} ) }}"
                           class="btn btn-default {% if pub.likeExtra=='like' %}btn-info{% endif %}" role="button"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>
                            <span class="badge">{{ pub.nbLike }}</span> </a>
                        <a class="btn btn-default {% if pub.likeExtra=='dislike' %}btn-danger{% endif %}"
                           href="{{ path('pub_dislike', {'page':0, 'pub':pub.id} ) }}" role="button"><span
                                    class="glyphicon glyphicon-thumbs-down success"></span>
                            <span class="badge">{{ pub.nbDislike }}</span> </a>
                        <a class="btn btn-default" href="#" role="button"><span
                                    class="glyphicon glyphicon-comment danger"></span>
                            Commenter <span class="badge">{{ pub.nbComment }}</span></a>
                    </p>
                    {% for message in app.session.flashbag.get('comment_new_message_success') %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('comment_modify_message_success') %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('comment_new_message_failure') %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}

                    <p>{{ pub.contenu }}</p>

                    {# commentaire
                                        <div class="well well-sm">
                                            <legend><span class="glyphicon glyphicon-comment"></span> Les commentaires</legend>
                                            <ul class="media-list">
                                                {% for commentaire in commentaires %}
                                                <li class="media thumbnail">
                                                    <p class="pull-left" href="#"><span class="media-object glyphicon glyphicon-user"></span></p>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">{{commentaire.user.name}}</h4>
                                                        <p>{{ commentaire.contenu }}</p>
                                                    </div>
                                                </li>
                                                {% else %}
                                                <p class="alert alert-info">Aucun commentaire pour cette publication!</p>
                                                {% endfor %}
                                            </ul>
                                        </div>
                    #}
                    <div class="">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> Commentaires
                            </div>

                            <!-- List group -->
                            <ul class="list-group">

                                {% for commentaire in commentaires %}
                                    <li class="list-group-item">
                                        <h4 class="list-group-item-heading">{{ commentaire.user.name }}</h4>
                                        <p class="list-group-item-text">{{ commentaire.contenu }}</p>
                                    </li>
                                {% else %}
                                    <p class="alert alert-info">Aucun commentaire pour cette publication!</p>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>


                {% if form is defined %}
                    <div class="jumbotron">
                        <form method="post" method="POST" action="{{ path( 'pub_comment', {'pub':pub.id} ) }}">
                            <legend><span class="glyphicon glyphicon-pencil"></span> Laisser un commentaire</legend>
                            {{ form_widget(form) }}
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-default">Envoyer <span
                                        class="glyphicon glyphicon-send"></span></button>
                        </form>
                    </div>
                {% endif %}

                {% if isOwner is defined %}
                    <div>
                        <a href="{{ path( 'pub_delete', {'pub':pub.id} ) }}" class="btn btn-link">
                            <span class="glyphicon glyphicon-trash"></span>Supprimer la publication</a>
                        <a href="{{ path( 'pub_modify', {'pub':pub.id} ) }}" class="btn btn-link">
                            <span class="glyphicon glyphicon-pencil"></span>Modifier la publication</a>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>



{% endblock %}


			{% block javascripts %}
                {{ parent() }}
                <script type="text/javascript">
                    $(function () {
                        $('.carousel').carousel({interval: 3000}); //Délai de défilement
                    });
                </script>
            {% endblock %}